<nav class="col-md-12 toolbar">
	<div class="col-md-6 toolbar-logo">
		<img src="assets/img/cfn_logo.png" class="logo">
		<a ui-sref="home"> Primary Healthcare Tracker</a>
	</div>
	<div class="col-md-6 about">
		<a href="">About</a>
	</div>
</nav>
<div class="col-md-6 map">
	 <ng-map center="[6.519342, 3.372343]" zoom="15" scrollwheel="false">
	 	<marker ng-repeat="area in areas" position="{{area.pos}}" icon="assets/img/green.png" title="Location: {{area.name}}" on-click="seeDetails(event, area, 'area')"></marker>
	 	<marker ng-repeat="yellowarea in yellowareas" position="{{yellowarea.pos}}" icon="assets/img/yellow.png" title="Location: {{yellowarea.name}}" on-click="seeDetails(event, yellowarea, 'yellowarea')"></marker>
	 </ng-map>
</div>
<div class="col-md-6 card-wrapper">
	<div class="col-md-12 survey">
		<form>
			<div class="form-group">
				<label for="location">What is your location?</label>
               	<input class="form-control" type="text" placeholder="Enter location" id="location" ng-model="location" ng-change="search()" >
           	</div>
           	<div class="form-group" ng-show="location">
				<label for="hospital">Select health center</label>
				<select class="form-control" id="hospital" ng-model="hospital">
					<option value="">Choose health center</option>
					<option>Ikorodu health center</option>
					<option>EKO hospital</option>
					<option value="C section">C-Section</option>
					<option value="Measles immunization">Measles Immunization</option>
					<option value="Ante-natal care">Ante-natal Care</option>
					<option value="Family planning">Family Planning</option>
					<option value="Malaria treatment">Malaria Treatment</option>
				</select>
           	</div>
           	<div class="form-group" ng-show="location">
				<label for="hospital">Select a service</label>
				<select class="form-control" id="hospital" ng-model="service">
					<option value="">Choose a service</option>
					<option>Maternal Health Delivery</option>
					<option>Birth Attendants</option>
				</select>
           	</div>
           	<div class="col-md-12 no-padder" ng-show="location">
           		<h1 class="rating-title">Rate the service</h1>
           		<fieldset class="rating no-padder">
           			<input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
           			<input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
           			<input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
           			<input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
           			<input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
           		</fieldset>
           	</div>
           	<div class="form-group" ng-show="location">
				<label for="">What is your feedback?</label>
				<textarea class="form-control" ng-model="feedback" rows="5"></textarea>
           	</div>
           	<button class="btn btn-primary" ng-show="location">Submit</button>
		</form>
	</div>
	<div class=" hospitals">
		<div class="col-md-6">
			<div class="card">
				<div class="hospital-img">
					<img src="assets/img/hospital.jpg">
				</div>
				<div class="hospital-info">
					<h1>Ikorodu Health Center</h1>
					<div class="rating">
		                <span>☆</span><span>☆</span>
		            </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="hospital-img">
					<img src="assets/img/Gbagada-General-Hospital.jpg">
				</div>
				<div class="hospital-info">
					<h1>Ikeja General Hospital</h1>
					<div class="rating">
		                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		            </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="hospital-img">
					<img src="assets/img/hospital.jpg">
				</div>
				<div class="hospital-info">
					<h1>Military Hospital</h1>
					<div class="rating">
		                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		            </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="hospital-img">
					<img src="assets/img/hospital.jpg">
				</div>
				<div class="hospital-info">
					<h1>Eko Hospital</h1>
					<div class="rating">
		                <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		            </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="hospital-img">
					<img src="assets/img/hospital.jpg">
				</div>
				<div class="hospital-info">
					<h1>Oak Hospital</h1>
					<div class="rating">
		                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		            </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="hospital-img">
					<img src="assets/img/hospital.jpg">
				</div>
				<div class="hospital-info">
					<h1>Luth General Hospital</h1>
					<div class="rating">
		                <span>☆</span><span>☆</span><span>☆</span>
		            </div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="col-md-8">
		<p class="footer-header">About</p>
		<hr>
		Code for Nigeria is a non-profit civic technology movement. A network of civic-minded volunteers who contribute their talents, skills, expertise, and community knowledge as technological tools to improve public service, bring governments to account, and promote informed (data-driven) decision-making; leveraging open data + media, and backed by a core (full-time) tech team.
	</div>
	<div class="col-md-4 p-t">
		<p class="clickable"><i class="fa fa-facebook-square"></i><a href="https://web.facebook.com/codefornigeria" target="_blank">Like us on Facebook</a></p>
		<p class="clickable"><i class="fa fa-twitter-square"></i><a href="https://twitter.com/codefornigeria" target="_blank">Follow us on Twitter</a></p>
	</div>
	<div class="col-md-12 partners">
		<p class="footer-header">Built by  Code for Nigeria, with thought leadership from </p>
		<hr>
		<a href="http://www.icfj.org" target="_blank"><img src="assets/img/icfj.png"></a>
		<a href="http://www.codeforafrica.org" target="_blank"><img src="assets/img/cfafrica.png"></a>
	</div>
	
	<p class="text-center text-sm text-thin"><a href="https://github.com/codefornigeria/healthtoolsv2" target="_blank">Fork this project on Github</a></p>
</div>