@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica;
}
body {
  background: #FFF;
}
.none {
  display: none;
}
.helper-text {
  color: grey;
  margin-top: 5px;
  cursor: pointer;
}
.m-t-sm {
  margin-top: 15px;
}
.capitalize {
  text-transform: capitalize;
}
a {
  color: inherit;
}
.landing-page {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/makoko.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-page .landing-page-logo {
  width: 150px;
  position: absolute;
  top: 30px;
  left: 30px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .landing-page .landing-page-logo {
    width: 80px;
  }
}
.landing-page h1 {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.landing-page p {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}
.landing-page .location {
  width: 200px;
  background: none;
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  outline: none;
  margin-top: 50px;
  text-transform: uppercase;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 10px;
  font-size: 18px;
}
.landing-page .user-location {
  margin-top: 50px;
  font-size: 14px;
}
.toolbar {
  background: #000000;
  height: 80px;
  line-height: 80px;
  padding-left: 3%;
  padding-right: 3%;
  color: #ffffff;
}
.toolbar .toolbar-logo {
  color: #ffffff;
  font-size: 20px;
}
.toolbar .about {
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
}
.toolbar a {
  text-decoration: none;
}
.toolbar a:hover {
  color: inherit;
}
.overlay {
  width: 100%;
  height: calc(100vh - 60px);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 8;
}
.left-panel {
  width: 25%;
  height: 100%;
  background: #000000;
  padding: 3%;
  padding-top: 3%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 320px) and (max-width: 1024px) {
  .left-panel {
    width: 30%;
  }
}
@media all and (min-width: 320px) and (max-width: 959px) {
  .left-panel {
    width: 50%;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .left-panel {
    width: 90%;
  }
}
.left-panel h2 {
  font-weight: bold;
  color: green;
  margin-bottom: 30px;
}
.left-panel .location {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.left-panel .results {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #ffffff;
}
.left-panel .results .result {
  float: left;
  margin-bottom: 20px;
}
.left-panel .results .result .result-title {
  color: #6D7988;
}
.left-panel hr {
  border-color: #ffffff;
}
.left-panel .tips {
  margin-top: 40px;
  color: #ffffff;
}
.left-panel .tips h1 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
}
.left-panel .tips li {
  list-style: none;
  margin-bottom: 15px;
}
.left-panel .tips li .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  display: inline-block;
  margin-right: 15px;
}
.map {
  padding: 0;
}
.card-wrapper {
  background-color: #FCFCFC;
  height: 100vh;
  min-height: 100%;
  padding-top: 30px;
  overflow-y: scroll;
}
.card-wrapper .card-detail {
  height: auto;
  background: #ffffff;
}
.card-wrapper .card-detail .back {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.card-wrapper .card-detail h2 {
  text-transform: capitalize;
}
.card-wrapper .card-detail .image {
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
}
.card-wrapper .card-detail .image img {
  width: 100%;
}
.card-wrapper .card-detail .comments {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 16px;
}
.card-wrapper .hospitals .card {
  margin-bottom: 30px;
  min-height: 420px;
  max-height: 420px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  background-color: white;
}
.card-wrapper .hospitals .card .hospital-img img {
  width: 100%;
  max-height: 234px;
  overflow: hidden;
}
.card-wrapper .hospitals .card .hospital-info {
  width: 100%;
  padding: 20px;
}
.card-wrapper .hospitals .card .hospital-info h1 {
  font-size: 24px;
  color: #4b4f56;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.card-wrapper .hospitals .card .hospital-info p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  color: #90949C;
}
.card-wrapper .hospitals .card .hospital-info .rating {
  margin-bottom: 12px;
}
.survey {
  margin-bottom: 30px;
  /*Custom radio buttons*/
}
.survey h1 {
  font-size: 24px;
}
.survey label {
  color: #4b4f56;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}
.survey input {
  outline: none;
  border: 1px #e9ebee solid;
}
.survey select {
  -webkit-appearance: none;
}
.survey .rating-title {
  font-size: 18px;
}
.survey .custom {
  /* Base for label styling */
  /* radio aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled radio */
  /* accessibility */
}
.survey .custom [type="radio"]:not(: checked),
.survey .custom [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.survey .custom [type="radio"]:not(:checked) + label,
.survey .custom [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.survey .custom [type="radio"]:not(:checked) + label:before,
.survey .custom [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: none;
}
.survey .custom [type="radio"]:not(:checked) + label:after,
.survey .custom [type="radio"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
.survey .custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.survey .custom [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.survey .custom [type="radio"]:disabled:not(:checked) + label:before,
.survey .custom [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.survey .custom [type="radio"]:disabled:checked + label:after {
  color: #999;
}
.survey .custom [type="radio"]:disabled + label {
  color: #aaa;
}
.survey .custom [type="radio"]:checked:focus + label:before,
.survey .custom [type="radio"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}
.survey .rating {
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
}
.survey .rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  left: 0;
  clip: rect(0, 0, 0, 0);
}
.survey .rating:not(:checked) > label {
  float: right;
  width: 2.3em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.2;
  color: #ddd;
}
.survey .rating:not(:checked) > label:before {
  content: '★ ';
  font-size: 24px;
}
.survey .rating > input:checked ~ label {
  color: #ea0;
}
.survey .rating:not(:checked) > label:hover,
.survey .rating:not(:checked) > label:hover ~ label {
  color: #ea0;
}
.survey .rating > input:checked + label:hover,
.survey .rating > input:checked + label:hover ~ label,
.survey .rating > input:checked ~ label:hover,
.survey .rating > input:checked ~ label:hover ~ label,
.survey .rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.survey .rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.service-cards {
  margin-bottom: 10px;
}
.service-cards h1 {
  margin-bottom: 5px;
}
.service-cards .service-card {
  width: auto;
  display: inline-block;
  background: white;
  border-radius: 3px;
  color: #333333;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer;
}
.service-cards .service-card:nth-of-type(1) {
  margin-left: 0;
}
ng-map {
  height: 100vh;
}
.map-key {
  width: 300px;
  height: auto;
  background: #FFFFFF;
  position: absolute;
  top: 100px;
  right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .map-key {
    display: none;
  }
}
.map-key hr {
  margin-top: 50px;
}
.map-key .info {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 13px;
}
.map-key .info .good-color {
  width: 50px;
  height: inherit;
  background: #009939;
  margin-left: 15px;
}
.map-key .info .satisfactory-color {
  width: 50px;
  height: inherit;
  background: #7ED321;
  margin-left: 15px;
}
.map-key .info .moderate-color {
  width: 50px;
  height: inherit;
  background: #EEB211;
  margin-left: 15px;
}
.map-key .info .poor-color {
  width: 50px;
  height: inherit;
  background: #F8E71C;
  margin-left: 15px;
}
.map-key .info .very-poor-color {
  width: 50px;
  height: inherit;
  background: #FF0000;
  margin-left: 15px;
}
.map-key .info .severe-color {
  width: 50px;
  height: inherit;
  background: #D50F25;
  margin-left: 15px;
}
.map-key input {
  border: 1px solid #f5f5f5;
}
.footer {
  width: 100%;
  height: auto;
  background: #000;
  color: grey;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  float: left;
}
.footer img {
  height: 50px;
  margin: 10px;
}
.footer hr {
  border: none;
  border-top: 1px solid #E5E5E4;
  opacity: 0.5;
}
.footer div {
  min-height: 200px;
}
.footer div:nth-of-type(2) {
  text-transform: none;
}
.footer .partners {
  min-height: 100px;
}
.footer .footer-header {
  color: #fff;
  font-weight: 400;
}
.footer .fa-twitter-square {
  color: skyblue;
  margin-right: 10px;
}
.footer .fa-facebook-square {
  color: #3B5998;
  margin-right: 10px;
}
.logo {
  height: 60px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  float: left;
}
.m-b-o {
  margin-bottom: 0 !important;
}
.data-sources {
  list-style: none;
}
.data-sources a {
  margin-left: 15px;
  color: #337ab7;
}
.logo {
  height: 50px;
  margin-top: 15px;
  margin-left: 0;
  float: left;
}
.selected {
  background: #f5f5f5 !important;
}
.custom-file-upload {
  width: 300px;
  height: auto;
  background: white;
  padding: 10px;
  border: 1px solid #e9ebee;
}
.custom-file-upload input {
  border: none;
}
.result {
  position: absolute;
  z-index: 9999;
  border: 1px solid #DEE5E7;
  background: #fff;
  width: 100%;
}
.result li {
  list-style: none;
  color: rgba(0, 0, 0, 0.36);
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06;
  border-bottom: 1px solid #DEE5E7;
  cursor: pointer;
  text-transform: capitalize;
}
.result li:hover {
  background: #c5c5c5;
  color: #333;
  font-weight: 400;
}
span.tooltip {
  position: absolute;
  width: 128px;
  height: 48px;
  line-height: 48px;
  padding: 0px 16px 0px 8px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #60ac39;
  border: 0px 0px 0px 0px none none none none #ffffff #467e2a #ffffff #ffffff;
  border-radius: 0px 3.2px 3.2px 0px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
  box-shadow: #559933 -4px 0px 4px 0px inset;
}
span.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 24px;
  border-style: solid;
  border-color: transparent #60AC39 transparent transparent;
  top: 0px;
  left: 48px;
}
.relative {
  position: relative;
}
.hospital-loader {
  position: absolute;
  right: 15px;
  top: 43px;
}
.loader {
  text-align: center;
  font-size: 45px;
  line-height: 100vh;
}
.thumb {
  width: 60px;
  height: 60px;
}
.progress {
  display: inline-block;
  width: 300px;
  height: 30px;
  border: 1px solid #000000;
  margin-top: 20px;
  border-radius: 0;
}
.progress div {
  font-size: smaller;
  background: #333333;
  width: 0;
  height: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: gold;
}
ul.rating {
  display: inline-block;
}
